@{
    ViewData["Title"] = "Privacy";
    ViewData["Message"] = "Mais um teste visando diferenças entre o Visual Studio 2019 para o 2022.";
    ViewData["Identificacao"] = "Salles Web MVC App from C# Course";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Identificacao"]</h2>
<h6>@ViewData["Message"]</h6>

<p>Use this page to detail your site's privacy policy.</p>
<p>Apenas um teste de commit no GitHub!!!</p>

<address>
    <strong>More Information: </strong>
</address>
